<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js"></script>
<script src="/js/epub.js"></script>
<link rel="stylesheet" type="text/css" href="/css/epub-examples.css">

<div id="viewer" class="spreads"></div>
<div id="prev" class="arrow">‹</div>
<div id="next" class="arrow">›</div>

<script>
  /* var url = "{{.Site.BaseURL}}" + '{{ .Get "url" }}';*/
  var book = ePub( '{{ .Get "url" }}');
  var method = '{{ .Get "method"  }} | "default" '; /* continuous */
  var flow = '{{ .Get "flow" }} | "auto" '; /* paginated | scrolled-doc */
  var rendition = book.renderTo("viewer", { method: method, flow: flow, width: "100%"});
  var displayed = rendition.display();
    displayed.then(function(renderer){
      // -- do stuff
  });

  // Navigation loaded
  book.loaded.navigation.then(function(toc){
      // console.log(toc);
    });

  var next = document.getElementById("next");
  next.addEventListener("click", function(){
      rendition.next();
    }, false);

  var prev = document.getElementById("prev");
  prev.addEventListener("click", function(){
      rendition.prev();
    }, false);

  var keyListener = function(e){

    // Left Key
    if ((e.keyCode || e.which) == 37) {
        rendition.prev();
    }

    // Right Key
    if ((e.keyCode || e.which) == 39) {
        rendition.next();
    }

  };

  rendition.on("keyup", keyListener);
  document.addEventListener("keyup", keyListener, false);
  
</script>
