<style>
.definition {
        visibility: hidden;
        width: 300px;
        background-color: #fff;
        color: #333;
        text-align: left;
        border-radius: 6px;
        padding: 5px 2px 2px 5px;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -30px;
        opacity: 0;
        transition: opacity 0.3s;
        border: 1px solid #333;
    }

.term {
        position: relative;
        display: inline-block;
        border: 1px dotted black;
    }

.term:hover .definition {
        visibility: visible;
        opacity: 1;
    }
</style>

<span class="term"> 
 {{ .Inner }} 
</span>
